.example-card {
    max-width: 250px;
    margin: 20px
  }

  .mat-card-image {
      height : 100px;
  }

  .option-content {
    margin: 100px;
    align-content: flex-start;
    height: 100px;
 }


  .schedule-content {
      margin-left: 100px;
      margin-top: -150px;
      position: relative;
      align-content: flex-start;
  }

  .search-opt-space {
      padding-right: 92px;
  }
  
  .example-header-image {
   // background-image: url('https://img.freepik.com/free-photo/beautiful-young-female-doctor-looking-camera-office_1301-7807.jpg?w=2000');
     background-image: url('https://www.stockvault.net/data/2015/09/01/177580/preview16.jpg'); 
    background-size: cover;
  }
  

  .example-header-image2 {
    background-image: url('https://img.freepik.com/free-photo/smiling-handsome-young-black-male-doctor-medicine-concept_1262-12521.jpg?size=626&ext=jpg');
    background-size: cover;
  }
  

  .example-header-image3 {
    background-image: url('https://img.freepik.com/free-photo/mature-doctor-hospital_256588-179.jpg?size=626&ext=jpg');
    background-size: cover;
  }
  


  .example-header-image4 {
    background-image: url('https://img.freepik.com/free-photo/covid-19-coronavirus-outbreak-healthcare-workers-pandemic-concept-middle-aged-doctor-white-coat-cross-arms-chest-ready-help-patients-prescribe-medication-smiling-cheerful_1258-61179.jpg?size=626&ext=jpg');
    background-size: cover;
  }
  
  .example-header-image5 {
    background-image: url('https://img.freepik.com/free-photo/portrait-doctor_144627-39381.jpg?size=626&ext=jpg');
    background-size: cover;
  }
  


  .example-header-image6 {
    background-image: url('https://img.freepik.com/free-photo/isolated-shotof-happy-successful-mature-senior-physician-wearing-medical-unifrom-stethoscope-having-cheerful-facial-expression-smiling-broadly-keeping-arms-crossed-chest_343059-2254.jpg?size=626&ext=jpg');
    background-size: cover;
  }
  
