.dasbaord-page {
    background: #f0f3fb;
    height: calc(100vh - 64px);
    .body-content {
        padding: 12px;
        // height: calc(100% - 64px);
        height: 100%;
        .body-header{
            p{
                font-size: 20px;
                font-weight: 600;
            }
        }
        .custom-card {
            .card-title {
                font-weight: 600;
                font-size: 14px;
            }
            width: 22%;
            box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
            border-radius: 6px;
            border: none;
            padding: 2rem 1rem;
            text-align: center;
            height: 135px;
            cursor: pointer;
        }
        .card-custom-icon {
            margin-bottom: 12px;
            svg {
                width: 42px;
                height: 42px;
                fill: gray;
            }
        }
        .profile-view {
            background-color: #fff;
            height: 100%;
            padding: 24px 24px 12px;
            text-align: center;
            .profile-img {
                margin-bottom: 20px;
                background-image: url('/assets/Patient.png');
                background-size: cover;
                width: 60px;
                height: 60px;
                margin-left: auto;
                margin-right: auto;
                svg {
                    fill: gray;
                }
                // profile-image-user {   
                //     background-image: url('/assets/Patient.png');
                //     background-size: cover;
                //     width: 100px;
                //     height: 100px;
                // }
            }
            .profile-name {
                font-size: 18px;
                font-weight: 600;
            }
            .profile-det {
                border-bottom: 1px solid rgb(128 128 128 / 18%);
                padding-bottom: 12px;
               table {
                    text-align: left;
                    font-size: 12px;
                    font-weight: 500;
                    width: 100%;
                    td {
                        padding: 4px;
                    }
               } 
            }
            .vital-title {
                font-size: 14px;
                margin-top: 12px;
                font-weight: 600;
                padding-right: 8px;                
            }
            .vital-icon{
                fill:  #FF0000;
            }
            .group-title {
                margin: 8px 0;
            }
            .grp-vitals {
                text-align: left;
            }
            .hospital-contact{
                text-align: left;
                // padding-top: 18px;
                font-size: 12px;
            }
        }
    }
}
